/* General Styling */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f9fafb;
  align-items:start;
}

/* Profile Container */
.profile-container {
  max-width: 900px;
  margin: 60px auto 50px;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Heading */
.profile-container h1 {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 20px;
}

/* Message */
.message {
  font-size: 1.2rem;
  color: #4caf50;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Profile Card */
.profile-card {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Image Container */
.profile-image-container {
  margin: 20px auto;
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #6a11cb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-image-container button {
  margin-top: 15px;
  background: #6a11cb;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}



.profile-image-container button:hover {
  background: #6a11cb;
}
button{
  background-color: #6a11cb;
  margin-top: 10px;
}
